In [75]:
#3.1
def calc_tax(age, salary):
  vat = 0
  if (age >= 18) and (salary >= 10000):
    if 10000 <= salary <= 20000:
      vat = (salary * 7) / 100
    elif salary > 20000:
      vat = (salary * 14) / 100
    return int(vat)
  else:
    return 0
calc_tax(20, 18000)

1260

In [78]:
#3.2
def calc_yearly_tax():
  total = 0
  age = int(input())
  if age >= 18:
    for x in range(1, 13):
      salary = int(input())
      print(f"Month{x} tax: {calc_tax(age,salary)}")
      total += calc_tax(age, salary)
  return total
print(f"Total yearly tax: {calc_yearly_tax()}")

22
8000
Month1 tax: 0
15000
Month2 tax: 1050
22000
Month3 tax: 3080
2300
Month4 tax: 0
15300
Month5 tax: 1071
21000
Month6 tax: 2940
34000
Month7 tax: 4760
9000
Month8 tax: 0
27000
Month9 tax: 3780
88000
Month10 tax: 12320
32000
Month11 tax: 4480
7300
Month12 tax: 0
Total yearly tax: 33481