In [ ]:
x = input("enter a number:")
print(x)

enter a number:10
10

In [ ]:
x = 2
y = 3
print(x, y, sep="...")

2...3

In [ ]:
x = 2
y = 3
print(x, "-", y, sep="")

2-3

In [ ]:
x = 10
y = 5
print(f"{x-y} is the result of x-y") #here 'f' is a format method, where we can use different actions together

5 is the result of x-y

Class Task 1

1.1

In [ ]:
x = input("First number: ")
print(x)

y = input("Second number: ")
print(y)

First number: 1
1
Second number: 2
2

1.2

In [ ]:
x = int(input("First number: "))
y = int(input("Second number: "))

print(f"The summation will be: {x+y}")

print(f"The multiplication will be: {x*y}")

First number: 4
Second NUmber: 5
The summation will be: 9
The multiplication will be: 20

1.3

In [ ]:
x = int(input("Integer: "))
y = float(input("Float: "))

print(f"Addition of the numbers: {x+y}")
print(f"Subtraction of the numbers: {x-y}")

Integer: 50
Float: 2.9
Addition of the numbers: 52.9
Subtraction of the numbers: 47.1

1.4

In [ ]:
x = int(input("First integer: "))
y = int(input("Second integer: "))

x = str(x)
y = float(y)

y = str(y)

print(x+y)

First integer: 56
Second integer: 65
5665.0

Class Task 2

In [ ]:
x = int(input("X: "))
y = int(input("Y: "))

z = x**y

print("X^Y: ", z)

X: 5
Y: 3
X^Y:  125

Class Task 3

In [ ]:
x = int(input("Weight: "))
y = x % 4
z = x - y

print(z)

Weight: 23
20

Evaluation Task 1

In [ ]:
a = int(input("First integer: "))
b = int(input("Second integer: "))
c = int(input("Third integer: "))
d = float(input("Float number: "))

x = a**c + (2*b) * (a//2) - d/3
x = int(x)

print(x)

First integer: 2
Second integer: 6
Third integer: 8
Float number: 1.3
267

Evaluation Task 2

In [ ]:
name1 = str(input("First name: "))
name2 = str(input("Last name: "))
name2 = "Rahman"
age = int(input("Age: "))
age = age - 2
cgpa = float(input("CGPA: "))
cgpa = cgpa + 0.25

print("Name: ", name1 + " " + name2)
print("Age: ", age)
print("CGPA: ", cgpa)

First name: Unjurn
Last name: Daniel
Age: 20
CGPA: 3.7
Name:  Unjurn Rahman
Age:  18
CGPA:  3.95