In [53]:
#5.1
def one_to_N(x, y):
  if x == y+1:
    return
  print(x, end=" ")
  one_to_N(x+1, n)

n = int(input())
one_to_N(1, n)

5
1 2 3 4 5

In [54]:
#5.2
def reverse_printing(x,y):
  if x == y+1:
    return
  print(y, end=" ")
  reverse_printing(1, y-1)


n = int(input())
reverse_printing(1,n)

5
5 4 3 2 1

In [55]:
#5.3
def recursive_summation(x, y):
  if y==x:
    return y
  else:
    return y + recursive_summation(1, y-1)

n = int(input())
print(recursive_summation(1,n))

5
15